/* Shared layout */

html,
body {
	font-family: sans-serif;
	font-size:   10pt;
	margin:      0;
	padding:     0;
}
form {
	text-align: center;
	margin:     0 100px;
}
#top a.button,
#top button {
	margin-top:    0.75em;
	margin-bottom: 0.75em;
}
.right-float {
	float:        right;
	margin-right: 0.75em;
}
.left-float {
	float:       left;
	margin-left: 0.75em;
}
#total-downloads {
	text-align: center;
	margin:     1em;
}
#progress-bar-outer {
	width:        30%;
	margin:       1em auto;
	padding:      1px;
	border-width: 1px;
	border-style: solid;
}
#progress-bar-inner {
	height:     2em;
	transition: width 250ms linear;
}
#content {
	position:   fixed;
	width:      100%;
	top:        75px;
	bottom:     10px;
	overflow-y: auto;
}
#results {
	list-style-type: none;
	text-align:      center;
}
#results li {
	margin: 0 30%;
}
.choice {
	width:  90%;
	margin: 2px;
}
.vis-timeline {
	border-width: 0;
}
.tlEntry {
	font-size: 8pt;
}
.vis-item {
	border-width: 1px;
	border-style: solid;
	cursor:       pointer;
}
.vis-item .vis-item-overflow {
	overflow: visible;
}
.ver {
	font-weight: bold;
}
.num {
	font-weight: normal;
}
.msg {
	text-align: center;
	margin:     2em;
	font-size:  14pt;
}
input {
	border-width:  1px;
	border-style:  solid;
	padding:       3px;
	border-radius: 2px;
}
#top input {
	margin: 1em 0.5em;
	width:  20em;
}
input:focus {
	outline: none;
}
input.token {
	width: 42ex;
}
a.button,
button {
	padding:     4px 6px;
	font-weight: bold;
	font-size:   11pt;
	cursor:      pointer;
	text-align:  left;
	outline:     none;
}
button .right-float {
	margin:    0;
	font-size: 10pt;
}
a.button .octicon,
button .octicon {
	font-size:   14pt;
	width:       18px;
	text-align:  center;
}
#menu {
	border-width: 1px;
	border-style: solid;
	position:     absolute;
	top:          55px;
	right:        0;
	z-index:      100;

	transition:   transform 0.2s, opacity 0.2s;
	transform:    translateY(0);
	opacity:      1;
}
#menu.anim-in {
	transform: translateY(-10px);
	opacity: 0;
}
#menu.anim-out {
	transform: translateY(10px);
	opacity: 0;
}
#menu:before, #menu:after {
	content:      "";
	display:      block;
	position:     absolute;
	border-style: solid;
}
#menu:after {
	/* Inner */
	z-index:      1;
	top:          -16px;
	right:        1px;
	width:        0;
	border-width: 0 16px 16px;
}
#menu:before {
	/* Outer */
	z-index:      0;
	top:          -17px;
	right:        0;
	border-width: 0 17px 16px;
}
.section {
	width:   29em;
	margin:  0;
	padding: 1em;
}
.section :first-child {
	display: inline-block;
	width: 5em;
}
.section + .section {
	border-top-style: solid;
	border-top-width: 1px;
}

/* Numix Dark theme */

body.numix-dark {
	background-color: #333;
	color:            #ddd;
}
.numix-dark #top {
	background-color: #444;
	box-shadow:       0 2px 4px 2px #2d2d2d;
}
.numix-dark .vis-timeline,
.numix-dark .vis-panel.vis-center,
.numix-dark .vis-time-axis .vis-grid.vis-major,
.numix-dark .vis-time-axis .vis-grid.vis-minor {
	border-color: #2e2e2e;
}
.numix-dark .vis-time-axis .vis-text {
	color: #919191;
}
.numix-dark .vis-item {
	background-color: #444;
	border-color:     #444;
	color:            #ddd;
	border-radius:    0;
	box-shadow:       0 2px 4px 2px #2d2d2d;
}
.numix-dark .vis-item:hover {
	background-color: #484848;
}
.numix-dark .ver {
	color: #eee;
}
.numix-dark .num {
	color: #919191;
}
.numix-dark button .num {
	color: #bbb;
}
.numix-dark a:link,
.numix-dark a:visited {
	color: #f66a59;
}
.numix-dark a:hover,
.numix-dark a:active {
	color: #f76752;
}
.numix-dark input {
	background-color: #444;
	border-color:     #2d2d2d;
	color:            #ddd;
}
.numix-dark input:focus {
	box-shadow: 0 0 3px 2px hsla(8, 91%, 65%, 0.6);
}
.numix-dark input::-webkit-search-cancel-button {
	color: hsla(8, 91%, 65%, 0.6);
}
.numix-dark a.button,
.numix-dark button {
	border-width:     0;
	background-color: #626262;
	color:            #eee;
	box-shadow:       0 1px 2px 1px #3d3d3d;
}
.numix-dark a.button.important,
.numix-dark button.important {
	background-color: #4caf50;
}
.numix-dark a.button:hover,
.numix-dark button:hover {
	background-color: #767676;
}
.numix-dark a.button:active,
.numix-dark button:active {
	background-color: #353535;
}
.numix-dark a.button.important:hover,
.numix-dark button.important:hover {
	background-color: #6dc071;
}
.numix-dark #menu {
	background-color: #444;
	box-shadow:       0 2px 4px 2px #2d2d2d;
	border-color:     #333;
}
.numix-dark #menu:after {
	border-color: #444 transparent;
}
.numix-dark #menu:before {
	border-color: #333 transparent;
}
.numix-dark button.active-numix-dark {
	background-color: #999;
	color:            #fff;
}
.numix-dark #progress-bar-outer {
	border-color:     #696969;
	background-color: #696969;
}
.numix-dark #progress-bar-inner {
	background-color: #f0544c;
}
.numix-dark .section + .section {
	border-top-color: #3d3d3d;
}

/* Pristine Dark theme */

body.pristine-dark {
	background-color: #1d1f21;
	color:            #a3a3a5;
}
.pristine-dark #top {
	background-color: #161719;
	box-shadow:       0 2px 4px 2px #1a1c18;
}
.pristine-dark .vis-timeline,
.pristine-dark .vis-panel.vis-center,
.pristine-dark .vis-time-axis .vis-grid.vis-major,
.pristine-dark .vis-time-axis .vis-grid.vis-minor {
	border-color: #141517;
}
.pristine-dark input {
	background-color: #121415;
	border-color:     #151c23;
	color:            #686e74;
}
.pristine-dark input:focus {
	background-color: #151c23;
	box-shadow:       0 0 2px 1px #519fee;
}
.pristine-dark a:link,
.pristine-dark a:visited {
	color:           #729dee;
	text-decoration: none;
}
.pristine-dark a:hover,
.pristine-dark
 a:active {
	text-decoration: underline;
}
.pristine-dark a.button,
.pristine-dark button {
	border-width:     0;
	background-color: #2b2e31;
	color:            #72766b;
	box-shadow:       0 1px 2px 1px #181a1b;
	border-radius:    3px;
}
.pristine-dark a.button:hover,
.pristine-dark button:hover {
	background-color: #303337;
	color:            #d9dbaf;
}
.pristine-dark a.button:active,
.pristine-dark button:active {
	background-color: #222426;
	box-shadow:       none;
}
.pristine-dark .vis-item {
	background-color: #292c2f;
	border-color:     #292c2f;
	color:            #a3a8aa;
	box-shadow:       0 2px 4px 2px #181a1b;
}
.pristine-dark .vis-item:hover {
	background-color: #303337;
	color:            #d9dbaf;
}
.pristine-dark .vis-time-axis .vis-text {
	color: #586855;
}
.pristine-dark #menu {
	background-color: #161719;
	box-shadow:       0 2px 4px 2px #1a1c18;
	border-color:     #161719;
}
.pristine-dark #menu:after {
	border-color: #161719 transparent;
}
.pristine-dark #menu:before {
	border-color: #1d1f21 transparent;
}
.pristine-dark button.active-pristine-dark {
	background-color: #444;
	color:            #eee;
}
.pristine-dark #progress-bar-outer {
	border-color:     #121415;
	background-color: #121415;
}
.pristine-dark #progress-bar-inner {
	background-color: #2b2e31;
}
.pristine-dark .section + .section {
	border-top-color: #1d1e20;
}

/* Plain theme */

.plain #top {
	border-bottom:    1px solid black;
	background-color: #eef;
}
.plain a.button,
.plain button {
	-webkit-appearance: button;
	-moz-appearance:    button;
	appearance:         button;

	box-sizing:  border-box;
	color:       #000;
	font-weight: normal;
}
.plain a.button {
	padding: 6px 8px;
}
.plain #menu {
	background-color: #fff;
}
.plain #menu:after {
	border-color: #fff transparent;
}
.plain #menu:before {
	border-color: #000 transparent;
}
.plain button.active-plain {
	font-weight: bold;
}
.plain #progress-bar-outer {
	border-color: #000;
}
.plain #progress-bar-inner {
	background-color: #77f;
}
.plain .section + .section {
	border-top-color: #000;
}
